@use '~@material/button/mdc-button';
@use '~@material/top-app-bar/mdc-top-app-bar';
@use '~@material/icon-button/mdc-icon-button';
@use '~@material/ripple/mdc-ripple';

:host {
  display: block;
}

.mdc-top-app-bar {
  transition: background-color 1000ms !important;
}

@media (min-width: 960px) {
  .title {
    margin: 0 auto;
    max-width: 940px;
  }
}

.spin {
  animation-duration: 300ms;
  animation-name: spin;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wiggle {
  animation-duration: 300ms;
  animation-name: wiggle;
  animation-timing-function: linear;
}

@keyframes wiggle {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
