<mat-toolbar [class.mat-elevation-z2]="!atTop" [ngStyle]="theme">
  <section>
    @if (showBack) {
      <a
        mat-button
        (click)="goBack($event)"
        (keyup)="goBack($event)"
        href="/"
        title="Go back"
        [ngStyle]="{ color: theme.color }">
        <mat-icon fontSet="material-symbols-outlined">arrow_back</mat-icon>
        Back
      </a>
    }
    <span class="">{{ title }}</span>
  </section>
  <span class="spacer"></span>
  <section>
    @if (updateAvailable) {
      <button
        (click)="reload()"
        mat-icon-button
        aria-label="Update Slides.today"
        title="Update Slides.today"
        class="spin">
        <mat-icon fontSet="material-symbols-outlined">update</mat-icon>
      </button>
    }
    @if (deferredInstallPrompt) {
      <button
        (click)="openInstallPrompt()"
        (keyup)="openInstallPrompt()"
        mat-icon-button
        aria-label="Install Slides.today"
        title="Install Slides.today"
        class="wiggle">
        <mat-icon fontSet="material-symbols-outlined">install_mobile</mat-icon>
      </button>
    }
  </section>
</mat-toolbar>
