@import '~@material/top-app-bar/mdc-top-app-bar';
@import '~@material/icon-button/mdc-icon-button';

.mdc-top-app-bar {
  transition: background-color 400ms !important;
}

.mdc-top-app-bar__row {
  transition: height 400ms !important;
}

@media (min-width: 960px) {
  #title {
    max-width: 940px;
    margin: 0 auto;
  }
}

#update {
  animation-name: spin;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
