@import '~@material/top-app-bar/mdc-top-app-bar';
@import '~@material/icon-button/mdc-icon-button';
@import '~@material/ripple/mdc-ripple';

.mdc-top-app-bar {
  transition: background-color 1000ms !important;
}

@media (min-width: 960px) {
  #title {
    max-width: 940px;
    margin: 0 auto;
  }
}

.spin {
  animation-name: spin;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes wiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
