@import '~@material/toolbar/dist/mdc.toolbar.css';

.mdc-toolbar__title {
  cursor: pointer;
}

.mdc-layout {
  color: white;
}

.mdc-toolbar--details {
  transition: background-color 200ms, height 200ms, position 200ms !important;
  height: 256px;
  position: absolute;
}

header.mdc-toolbar--home {
  transition: background-color 200ms, height 200ms, position 200ms !important;
  height: inherit;
  position: fixed;
}
