rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // The data is public and only written by the sync script through the Admin SDK.
    match /{collection}/{id} {
      allow get, list: if collection in ['decks', 'events', 'speakers', 'sponsors', 'tags'];
    }
  }
}
