@import '../card/card.scss';

.mdc-card__media {
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.mdc-card__media {
  transition: opacity 1s;
  opacity: 0.8;
}

.mdc-card__media.ng-lazyloaded {
  opacity: 1;
}

.card__title {
  cursor: pointer;
}
