<ng-template #content>
  @if (image) {
    <div
      class="mdc-card__media mdc-card__media--square"
      [style.backgroundImage]="'url(' + image + ')'"></div>
  }

  <div class="primary">
    <h2 class="hero mdc-typography mdc-typography--headline3">
      <ng-content select="[hero]"></ng-content>
    </h2>
    <h3 class="title mdc-typography mdc-typography--headline6">
      <ng-content select="[title]"></ng-content>
    </h3>
    <h4 class="subtitle mdc-typography mdc-typography--subtitle2">
      <ng-content select="[subtitle]"></ng-content>
    </h4>
  </div>

  <section class="secondary mdc-typography mdc-typography--body2">
    <ng-content select="[body]"></ng-content>
  </section>
</ng-template>

<div class="card mdc-card" [ngStyle]="theme">
  @if (url && external) {
    <a
      class="mdc-card__primary-action primary-action"
      [href]="url"
      target="_blank"
      rel="noopener"
      appRipple="bounded">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </a>
  }

  @if (url && !external) {
    <a
      class="mdc-card__primary-action primary-action"
      [routerLink]="url"
      appRipple="bounded">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </a>
  }

  @if (!url) {
    <div class="no-action">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  }

  @if (actions.length) {
    <div class="mdc-card__actions">
      @for (action of actions; track action) {
        <a mat-button [href]="action.url" target="_blank" rel="noopener">
          {{ action.title }}
        </a>
      }
    </div>
  }
</div>
