<ng-template #content>
  @if (image()) {
    <div class="media" [style.backgroundImage]="'url(' + image() + ')'"></div>
  }

  <div class="primary">
    <h2 class="hero">
      <ng-content select="[hero]" />
    </h2>
    <h3 class="title">
      <ng-content select="[title]" />
    </h3>
    <h4 class="subtitle">
      <ng-content select="[subtitle]" />
    </h4>
  </div>

  <section class="secondary">
    <ng-content select="[body]" />
  </section>
</ng-template>

<mat-card class="card" [style]="styles()">
  @if (url() && external()) {
    <a
      class="primary-action"
      [href]="url()"
      target="_blank"
      rel="noopener"
      matRipple>
      <ng-container *ngTemplateOutlet="content" />
    </a>
  }

  @if (url() && !external()) {
    <a class="primary-action" [routerLink]="url()" matRipple>
      <ng-container *ngTemplateOutlet="content" />
    </a>
  }

  @if (!url()) {
    <div class="no-action">
      <ng-container *ngTemplateOutlet="content" />
    </div>
  }

  @if (actions().length) {
    <mat-card-actions>
      @for (action of actions(); track action.url) {
        <a mat-button [href]="action.url" target="_blank" rel="noopener">
          {{ action.title }}
        </a>
      }
    </mat-card-actions>
  }
</mat-card>
