@import '../card/card.scss';
@import '~@material/button/mdc-button';

.mdc-card {
  background-color: #fff;
}

.card__primary > div {
  display: inline-block;
}

.card__avatar {
  margin-right: 16px;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
