@import '~@material/card/mdc-card';
@import '~@material/button/mdc-button';

.mdc-card {
  background-color: #fff;
}

.mdc-card__title {
  font-weight: bolder;
}

.speaker-card__avatar {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.speaker-card--with-avatar .mdc-card__title, .speaker-card--with-avatar .mdc-card__subtitle {
  margin-left: 56px;
}
