<mat-chip-listbox
  aria-label="Speaker selection"
  multiple
  [value]="selectedSpeakerIds()">
  @for (speaker of speakers(); track speaker.id) {
    <mat-chip-option
      [attr.data-id]="speaker.id"
      [value]="speaker.id"
      (selectionChange)="changeSelected($event, speaker.id)">
      <img matChipAvatar [src]="speaker.imageUrl" alt="" />
      {{ speaker.name }}
    </mat-chip-option>
  }
  @if (selectedSpeakerIds().length !== 0) {
    <mat-chip-option
      class="clear-chip"
      [selectable]="false"
      aria-label="Clear speaker selection"
      (click)="clear()">
      <mat-icon fontSet="material-symbols-outlined">cancel</mat-icon>
    </mat-chip-option>
  }
</mat-chip-listbox>
