<div class="mdc-card mdc-card--outlined">
  <section class="card__primary">
    <h2 class="card__title mdc-typography--headline6">Welcome to Slides.today</h2>
    <h3 class="card__subtitle mdc-typography--subtitle2">Abraham Williams & Pearl Latteier</h3>
  </section>
  <section class="card__secondary mdc-typography--body2">
    We're developers at Bendyworks in Madison, WI, and we enjoy speaking at technical conferences. Find our presentation slides here.
  </section>
  <section class="mdc-card__media" [style.backgroundImage]="'url('+ imageUrl +')'"></section>
  <section class="mdc-card__actions">
    <app-card-action *ngFor="let link of links"
                     [text]="link.title"
                     [url]="link.url"
                     [blank]="true">
    </app-card-action>
  </section>
</div>
