<div class="mdc-card mdc-card--outlined">
  <section class="card__primary">
    <h2 class="card__title mdc-typography--headline6">Welcome to Slides.today</h2>
    <h3 class="card__subtitle mdc-typography--subtitle2">Abraham Williams & Pearl Latteier</h3>
  </section>
  <section class="card__secondary mdc-typography--body2">
    We're developers at Bendyworks in Madison, WI, and we enjoy speaking at technical conferences. Find our presentation slides here.
  </section>
  <section class="mdc-card__media" [style.backgroundImage]="'url('+ imageUrl +')'"></section>
  <section class="mdc-card__actions">
    <a *ngFor="let link of links"
        appRipple
        [href]="link.url"
        target="_blank"
        class="mdc-button mdc-card__action mdc-card__action--button">
        <span class="mdc-button__ripple"></span> {{link.title}}
    </a>
  </section>
</div>
