<div class="mdc-card">
  <section class="mdc-card__primary">
    <h2 class="mdc-card__subtitle">Abraham Williams & Pearl Latteier</h2>
    <h1 class="mdc-card__title mdc-card__title--large">Welcome to Slides.today</h1>
  </section>
  <section class="mdc-card__supporting-text">
    We're developers at Bendyworks in Madison, WI, and we enjoy speaking at technical conferences. Find our presentation slides here.
  </section>
  <section class="mdc-card__media" [style.backgroundImage]="'url('+ imageUrl +')'"></section>
  <section class="mdc-card__actions">
    <app-card-action *ngFor="let link of links"
                     [text]="link.title"
                     [url]="link.url">
    </app-card-action>
  </section>
</div>
