@import '~@material/card/mdc-card';

.mdc-card__media {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.mdc-card__supporting-text {
  margin-bottom: 25px;
}
