:host {
  display: block;
}

:host > * {
  border-radius: var(--mat-sys-corner-medium);
  border-width: 0;
  box-shadow: var(--mat-sys-level1);
  color: #000;
}

ngx-skeleton-loader {
  display: block;
  overflow: hidden;
}

twitter-status:not(:defined) {
  display: block;
}

.fallback {
  background: #fff;
  margin: 0;
  padding: 16px 24px;

  p {
    margin-top: 0;
  }

  a {
    color: #1565c0;
  }
}
