<div class="mdc-card">
  <section class="card__primary">
    <h1 class="card__title mdc-typography--headline6">Sponsors</h1>
  </section>
  <section class="card__secondary">
      <div class="mdc-list mdc-list--two-line xmdc-list--dense mdc-list--avatar-list">
        <a *ngFor="let sponsor of sponsors" class="mdc-list-item" [href]="sponsor.url" target="_blank" >
          <img [src]="sponsor.image" class="mdc-list-item__graphic" />
          <span class="mdc-list-item__text">
            {{sponsor.name}}
            <span class="mdc-list-item__secondary-text">{{sponsor.description}}</span>
          </span>
        </a>
      </div>
  </section>
</div>
