<button
  [style.visibility]="exited() ? 'hidden' : 'visible'"
  mat-fab
  extended
  class="app-fab--absolute"
  (click)="startShare()"
  [matMenuTriggerFor]="canShareNatively() ? null : shareMenu"
  (menuClosed)="exited.set(false)"
  #shareMenuTrigger="matMenuTrigger">
  <mat-icon fontSet="material-symbols-outlined">share</mat-icon>
  Share
</button>

<mat-menu #shareMenu="matMenu" class="app-menu--absolute" overlapTrigger>
  <a
    mat-menu-item
    [attr.href]="linkedinUrl()"
    target="_blank"
    rel="noopener"
    title="Share on LinkedIn">
    <mat-icon fontSet="material-symbols-outlined">work</mat-icon>
    <span>Publish</span>
    <span class="visually-hidden">(opens in new tab)</span>
  </a>
  <a
    mat-menu-item
    [attr.href]="twitterUrl()"
    target="_blank"
    rel="noopener"
    title="Share on Twitter">
    <mat-icon fontSet="material-symbols-outlined">raven</mat-icon>
    <span>Tweet</span>
    <span class="visually-hidden">(opens in new tab)</span>
  </a>
  <a
    mat-menu-item
    [attr.href]="facebookUrl()"
    target="_blank"
    rel="noopener"
    title="Share on Facebook">
    <mat-icon fontSet="material-symbols-outlined">book</mat-icon>
    <span>Post</span>
    <span class="visually-hidden">(opens in new tab)</span>
  </a>
  <button mat-menu-item title="Copy URL to clipboard" (click)="copy()">
    <mat-icon fontSet="material-symbols-outlined">content_copy</mat-icon>
    <span>Copy</span>
  </button>
</mat-menu>
