@import '~@material/fab/mdc-fab';
@import '~@material/button/mdc-button';
@import '~@material/ripple/mdc-ripple';
@import '~@material/menu/mdc-menu';
@import '~@material/list/mdc-list';

.app-fab--absolute, .app-menu--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute, .app-menu--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.mdc-fab {
  z-index: 14;
}

.mdc-simple-menu {
  z-index: 15;
}
