:host {
  display: block;
}

.app-fab--absolute {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 16;
}

@media (min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
