<button #fabEl class="mdc-fab mdc-fab--extended app-fab--absolute"
               aria-label="Share"
               title="Share"
               (click)="startShare()">
  <span class="mdc-fab__icon material-icons">share</span>
  <span class="mdc-fab__label">Share</span>
</button>

<div class="app-menu--absolute mdc-menu-anchor">
  <div #menuEl class="mdc-menu xapp-menu--absolute" tabindex="-1">
    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
      <li class="mdc-list-item" role="menuitem" tabindex="0" (click)="share('google')">
        Google+
      </li>
      <li class="mdc-list-item" role="menuitem" tabindex="0" (click)="share('twitter')">
        Twitter
      </li>
      <li class="mdc-list-item" role="menuitem" tabindex="0" (click)="share('facebook')">
        Facebook
      </li>
    </ul>
  </div>
</div>
