@use '~@material/button/mdc-button';
@use '~@material/fab/mdc-fab';
@use '~@material/list/mdc-list';
@use '~@material/menu-surface/mdc-menu-surface';
@use '~@material/menu/mdc-menu';
@use '~@material/ripple/mdc-ripple';

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.app-menu--absolute {
  position: fixed;
  bottom: .75rem;
  right: .75rem;
  z-index: 15;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
     bottom: 1.5rem;
     right: 1.5rem;
   }

   .app-menu--absolute {
    bottom: 1.25rem;
    right: 1.25rem;
  }
}

.mdc-fab {
  z-index: 14;
}
