@use '~@material/button/mdc-button';
@use '~@material/icon-button/mdc-icon-button';
@use '~@material/layout-grid/mdc-layout-grid';

app-header {
  margin-bottom: 16px;
}

main {
  padding-top: 8px;
  max-width: 1600px;
}

.decks-empty {
  margin: 0 auto;
}

.hidden {
  display: none;
}

app-about {
  width: 100% !important;
}

.mdc-button {
  float: right;
}
