// Not implemented yet
// $mdc-layout-grid-max-width: 1600px;

@import '~@material/layout-grid/dist/mdc.layout-grid.css';

app-header {
  margin-bottom: 16px;
}

main {
  padding-top: 8px;
  max-width: 1600px;
}

.tags-transition {
  transition-duration: 300ms;
  transition-property: opacity;
  opacity: 0;
}

.tags-transition.transitioned {
  opacity: 1;
}

.card-transition {
  transition-duration: 300ms;
  transition-property: position, top, visibility;
  position: absolute;
  top: 100vh;
  visibility: hidden;
}

.card-transition.transitioned {
  position: relative;
  top: 0;
  visibility: inherit;
}

.decks-empty {
  margin: 0 auto;
}

.hidden {
  display: none;
}
