:host {
  display: block;
}

app-header {
  margin-bottom: 16px;
}

main {
  max-width: 1600px;
  padding-top: 8px;
}

.decks-empty {
  font: var(--mat-sys-body-medium);
  margin: 0 auto;
}

.hidden {
  display: none;
}

app-about {
  width: 100% !important;
}

.action-buttons {
  float: right;
}
