<main class="main mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      @if (!mobile) {
        <app-tags></app-tags>
      }
      @if (mobile) {
        <button
          class="action-buttons"
          mat-stroked-button
          color="primary"
          (click)="openTagsSheet()">
          <mat-icon fontSet="material-symbols-outlined">filter_list</mat-icon>
          Tags
        </button>
      }
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-layout-grid__inner">
        @if (!hasSelectedTagIds) {
          <app-about
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"></app-about>
        }

        @for (deck of decks$ | async; track deck.id) {
          <app-deck-summary
            [deck]="deck"
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"></app-deck-summary>
        }
        @if ((decks$ | async)?.length === 0) {
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-typography--body2 decks-empty">
            Nothing found that includes all the following tags:
            {{ selectedTagIds$ | async | tagList | async }}
          </div>
        }
      </div>
    </div>
  </div>
</main>
