<div class="wrapper" [style]="theme()">
  <app-header [title]="title()" [showBack]="showBack()" />

  <div class="container">
    @if (firstLoad()) {
      <main class="main mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div
            class="mdc-card mdc-card--outlined mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <ngx-skeleton-loader [count]="10" appearance="circle" />
          </div>
          @for (i of skeletonRows; track i) {
            <div
              class="mdc-card mdc-card--outlined mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <ngx-skeleton-loader
                animation="progress"
                [theme]="{
                  height: '100px',
                }" />
            </div>
          }
        </div>
      </main>
    }

    <router-outlet
      #outlet="outlet"
      (activate)="onActivate(outlet.activatedRouteData)" />
  </div>
</div>
