@use '~@material/layout-grid/mdc-layout-grid';

:host {
  display: block;
}

.wrapper {
  height: 100%;
  transition: background-color 1000ms !important;
  width: 100%;
}

@media (min-width: 960px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
  }
}
