@import '~@material/layout-grid/mdc-layout-grid';

#wrapper {
  transition: background-color 400ms !important;
}

@media (min-width: 960px) {
  #container {
    max-width: 960px;
    margin: 0 auto;
  }
}

.mdc-card {
  padding: 16px 16px 4px 16px;
}
