@import '~@material/toolbar/dist/mdc.toolbar.css';

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  flex: 1 1 auto;
  margin: 8px;
  min-width: 200px;
  max-width: 400px;
}

header {
  margin-bottom: 16px;
}

main {
  padding-top: 8px;
}
