// Not implemented yet
// $mdc-layout-grid-max-width: 1600px;

@import '~@material/layout-grid/dist/mdc.layout-grid.css';

app-header {
  margin-bottom: 16px;
}

main {
  padding-top: 8px;
  max-width: 1600px;
}
