<div class="wrapper" [ngStyle]="theme$ | async">
  <app-header [title]="title" [showBack]="showBack"></app-header>

  <div class="container">
    <main *ngIf="firstLoad" class='main mdc-layout-grid'>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-card mdc-card--outlined mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <ngx-skeleton-loader [count]="10" appearance="circle"></ngx-skeleton-loader>
        </div>

        <div *ngFor="let i of [0, 1, 2, 3, 4]"
             class="mdc-card mdc-card--outlined mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <ngx-skeleton-loader [count]="3" appearance="line"></ngx-skeleton-loader>
        </div>
      </div>
    </main>

    <router-outlet (activate)='onActivate($event)'></router-outlet>
  </div>
</div>
