<div class="wrapper" [style]="styles()">
  <a class="skip-link" href="/" (click)="skipToMain($event)">
    Skip to main content
  </a>
  <app-header [title]="title()" [showBack]="showBack()" />

  <div class="container">
    @if (firstLoad()) {
      <main class="main page">
        <div class="page-grid">
          <mat-card appearance="outlined">
            <ngx-skeleton-loader [count]="10" appearance="circle" />
          </mat-card>
          @for (i of skeletonRows; track i) {
            <mat-card appearance="outlined">
              <ngx-skeleton-loader
                animation="progress"
                [theme]="{
                  height: '100px',
                }" />
            </mat-card>
          }
        </div>
      </main>
    }

    <router-outlet
      #outlet="outlet"
      (activate)="onActivate(outlet.activatedRouteData)" />
  </div>
</div>
