@import '~@material/button/mdc-button';
@import '~@material/card/mdc-card';
@import '~@material/ripple/mdc-ripple';

.mdc-card {
  border-radius: 8px;
  color: #000;
  overflow: hidden;
}

.card__primary {
  padding: 16px;
  text-transform: uppercase;

  .card__title,
  .card__subtitle {
    margin: 0;
  }
}

.card__secondary {
  padding: 0 1rem 8px;
}

.mdc-card__media {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 4px;
  width: 100%;
}
