.web-components.md-chip {
  background-color: #166DA5;
  color: #fff;
}

.progressive-web-apps.md-chip {
  background-color: #8BC34A;
}

.polymer.md-chip {
  background-color: #1e88e5;
  color: #fff;
}

.twitter-api.md-chip {
  background-color: #1da1f2;
  color: #fff;
}

.php.md-chip {
  background-color: #8892be;
  color: #fff;
}
