@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.web-components.mat-chip {
  background-color: #166DA5;
  color: #fff;
}

.progressive-web-apps.mat-chip {
  background-color: #8BC34A;
}

.polymer.mat-chip {
  background-color: #1e88e5;
  color: #fff;
}

.twitter-api.mat-chip {
  background-color: #1da1f2;
  color: #fff;
}

.php.mat-chip {
  background-color: #8892be;
  color: #fff;
}
