.web-components.md-chip:not(.md-chip-raised) {
  background-color: #2196F3;
  color: #fff;
}

.progressive-web-apps.md-chip:not(.md-chip-raised) {
  background-color: #8BC34A;
}

.polymer.md-chip:not(.md-chip-raised) {
  background-color: #1e88e5;
  color: #fff;
}

.twitter-api.md-chip:not(.md-chip-raised) {
  background-color: #1da1f2;
  color: #fff;
}

.php.md-chip:not(.md-chip-raised) {
  background-color: #8892be;
  color: #fff;
}

.ruby.md-chip:not(.md-chip-raised) {
  background-color: #CC342D;
  color: #fff;
}

.firebase.md-chip:not(.md-chip-raised) {
  background-color: #ff9800;
}

.cli.md-chip:not(.md-chip-raised) {
  background-color: #212121;
  color: #fff;
}

.actions-on-google.md-chip:not(.md-chip-raised) {
  background-color: #4285f4;
  color: #fff;
}

.angular.md-chip:not(.md-chip-raised) {
  background-color: #da0b37;
  color: #fff;
}

.google-io.md-chip:not(.md-chip-raised) {
  background-color: #3fe7b8;
}

.video.md-chip:not(.md-chip-raised) {
  background-color: #9C27B0;
  color: #fff;
}
