// TODO: Update to `use`.
@import "~@material/icon-button/mdc-icon-button.import";

.action {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  @include mdc-icon-button-icon-size(96px);
}
