// TODO: Update to `use`.
@import '~@material/card/mdc-card';
@import '~@material/icon-button/mdc-icon-button.import';

:host {
  display: block;
}

.action {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.button {
  @include mdc-icon-button-icon-size(96px);
}
