@if (youtubeId()) {
  <lite-youtube [attr.videoid]="youtubeId()" />
}
@if (!youtubeId() && !placeholder()) {
  <iframe
    [attr.src]="url()"
    [width]="width()"
    [height]="height()"
    allowfullscreen
    [attr.title]="title() + ' ' + link().title"></iframe>
}
@if (!youtubeId() && placeholder()) {
  <div class="mdc-card" [style]="dimensionStyles()">
    <div class="mdc-card__primary-action action">
      <button mat-fab extended (click)="placeholder.set(false)">
        <mat-icon fontSet="material-symbols-outlined">enable</mat-icon>
        Enable embed
      </button>
    </div>
  </div>
}
