@if (youtubeId()) {
  <lite-youtube [attr.videoid]="youtubeId()" />
}
@if (url() && !placeholder()) {
  <iframe
    [attr.src]="url()"
    [width]="width()"
    [height]="height()"
    allowfullscreen
    [attr.title]="title() + ' ' + link().title"></iframe>
}
@if (url() && placeholder()) {
  <mat-card
    [style]="dimensionStyles()"
    [style.--mat-card-elevated-container-color]="cardColor">
    <div class="action">
      <button mat-fab extended (click)="placeholder.set(false)">
        <mat-icon fontSet="material-symbols-outlined">enable</mat-icon>
        {{ buttonLabel() }}
      </button>
    </div>
  </mat-card>
}
