@import '~@material/card/dist/mdc.card.css';
@import '~@material/elevation/dist/mdc.elevation.css';
@import '~@material/layout-grid/dist/mdc.layout-grid.css';
@import '~@material/list/dist/mdc.list.css';

.content {
  transition: top 400ms;
  position: absolute;
  top: 100vh;
}

.content.transitioned {
  position: relative;
  top: 0;
}

.back, .home, .speakers .mdc-list-item {
  cursor: pointer;
}

.mdc-card__media {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.mdc-layout-grid__cell {
  z-index: 10;
}

.mdc-card, .mdc-elevation--z2 {
  background-color: #fff;
}
