<main id="main" class="page" tabindex="-1">
  @if (deck(); as deck) {
    <div class="page-grid">
      <div class="deck-content">
        <div #detailsEl class="item">
          <app-card [actions]="deck.links">
            <div hero>{{ deck.title }}</div>
            <div body>{{ deck.description }}</div>
            <div body><app-tag-chips [currentTags]="deck.tags" /></div>
          </app-card>
        </div>
        @for (embed of embeds(); track embed.url) {
          <div class="item">
            <app-embed
              [width]="embedWidth()"
              [link]="embed"
              [title]="deck.title"
              [theme]="deck.theme" />
          </div>
        }
        @for (speakerId of deck.speakerIds; track speakerId) {
          <div class="item">
            <app-speaker [speakerId]="speakerId" />
          </div>
        }
        @for (occurrence of deck.occurrences; track occurrence.id) {
          <div class="item">
            <app-event [occurrence]="occurrence" />
          </div>
        }
        <div class="item">
          <app-map [location]="deck.location" />
        </div>
        @if (deck.sponsorIds.length) {
          <div class="item">
            <app-sponsor [sponsorIds]="deck.sponsorIds" />
          </div>
        }
        @if (deck.resources.length > 0) {
          <div class="item">
            <app-deck-resources [resources]="deck.resources" />
          </div>
        }
        @for (github of deck.githubRepos; track github) {
          <app-github-repository class="item" [ownerRepo]="github" />
        }
        @for (name of deck.nodePackages; track name) {
          <app-node-package class="item" [name]="name" />
        }
        @for (status of tweets(); track status.id_str) {
          <app-twitter-status class="item" [status]="status" />
        }
      </div>
    </div>
  }
</main>
