<main class="mdc-layout-grid">
  @if (deck$ | async; as deck) {
    <div class="mdc-layout-grid__inner">
      <div
        class="deck-content mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div #detailsEl class="item">
          <app-card [actions]="deck.links">
            <div hero>{{ deck.title }}</div>
            <div title>{{ deck.eventTitle }} · {{ deck.date }}</div>
            <div body>{{ deck.description }}</div>
            <div body><app-tags [currentTags]="deck.tags"></app-tags></div>
          </app-card>
        </div>
        @for (embed of embeds; track embed) {
          <div class="item">
            <app-embed
              [width]="embedWidth"
              [link]="embed"
              [title]="deck.title"
              [theme]="deck.theme"></app-embed>
          </div>
        }
        @for (speakerId of deck.speakerIds; track speakerId) {
          <div class="item">
            <app-speaker [speakerId]="speakerId"></app-speaker>
          </div>
        }
        @if (deck) {
          <div class="item">
            <app-map [location]="deck.location"></app-map>
          </div>
        }
        @if (deck && deck.sponsorIds.length) {
          <div class="item">
            <app-sponsor [sponsorIds]="deck.sponsorIds"></app-sponsor>
          </div>
        }
        @if (deck.resources.length > 0) {
          <div class="item">
            <app-deck-resources
              [resources]="deck.resources"></app-deck-resources>
          </div>
        }
        @for (github of deck.githubRepos; track github) {
          <github-repository
            class="item"
            [attr.owner-repo]="github"></github-repository>
        }
        @for (name of deck.nodePackages; track name) {
          <node-package class="item" [attr.name]="name"></node-package>
        }
        @for (status of deck.tweets | async; track status) {
          <twitter-status class="item" [status]="status"></twitter-status>
        }
      </div>
    </div>
  } @else {
    Loading...
  }
</main>
