:host {
  display: block;
}

@media (width <= 479px) {
  main {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.deck-content {
  columns: 2;
  padding: 8px;

  :first-child {
    margin: 0;
  }
}

@media (width <= 719px) {
  .deck-content {
    columns: 1;
  }
}

.item {
  break-inside: avoid-column;
  margin: 1em 0;
}
