@import '~@material/card/dist/mdc.card.css';
@import '~@material/elevation/dist/mdc.elevation.css';
@import '~@material/layout-grid/dist/mdc.layout-grid.css';

.content {
  column-count: 1;
  column-gap: 1em;
}

@media only screen and (min-width: 480px) {
  .content {
    column-count: 2;
  }
}

.item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  transition-duration: 300ms;
  transition-property: all;
  margin-top: 100vh;
  visibility: hidden;
}

.item.transitioned {
  margin-top: 0px;
  visibility: inherit;
}

.back, .home, .speakers .mdc-list-item {
  cursor: pointer;
}

.mdc-card__media {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.mdc-layout-grid__cell {
  z-index: 10;
}

.mdc-card, .mdc-elevation--z2 {
  background-color: #fff;
}
