<main class='mdc-layout-grid'>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <i (click)="goBack()" [ngStyle]="{color: colors?.color}" class="back material-icons">arrow_back</i>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-2-desktop"></div>

    <div class="deck-content mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-8-desktop">
      <div class="mdc-layout-grid__inner">

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <div #detailsEl class="item details mdc-card">
            <section class="card__primary">
              <h1 class="card__title mdc-typography--headline6">{{deck?.title}}</h1>
              <h2 class="card__subtitle mdc-typography--subtitle2">{{deck?.eventTitle}} · {{deck?.date}}</h2>
            </section>
            <section class="card__secondary mdc-typography--body2">
              {{deck?.description}}
            </section>
            <section class="card__secondary">
              <app-tags [tagIds]="deck?.tags"></app-tags>
            </section>
            <section class="mdc-card__actions">
              <app-card-action *ngFor="let link of deck?.links"
                               [text]="link.title"
                               [url]="link.url"
                               [blank]="true">
              </app-card-action>
            </section>
          </div>

          <ng-template ngFor let-embed [ngForOf]="embeds">
            <div class="item">
              <app-embed [width]="embedWidth" [link]="embed" [colors]="colors"></app-embed>
            </div>
          </ng-template>

          <ng-template ngFor let-speaker [ngForOf]="deck?.speakers">
            <div class="item">
              <app-speaker [speakerId$]="speakerId$(speaker)"></app-speaker>
            </div>
          </ng-template>

          <div class="item mdc-card">
            <section class="card__primary">
              <h2 class="card__title mdc-typography--headline6">{{deck?.location}}</h2>
            </section>
            <section *ngIf="mapUrl" class="mdc-card__media" [style.backgroundImage]="'url(' + mapUrl + ')'">
            </section>
          </div>

          <div class="item" *ngIf="deck">
            <app-sponsor [sponsorIds]="deck.sponsors"></app-sponsor>
          </div>

        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">

          <ng-template ngFor let-github [ngForOf]="deck?.githubRepos">
            <github-repository class="item mdc-elevation--z1" [attr.owner-repo]="github"></github-repository>
          </ng-template>

          <ng-template ngFor let-name [ngForOf]="deck?.nodePackages">
            <node-package class="item mdc-elevation--z1" [attr.name]="name"></node-package>
          </ng-template>

          <ng-template ngFor let-status [ngForOf]="deck?.tweets">
            <twitter-status class="item mdc-elevation--z1" [status]="status"></twitter-status>
          </ng-template>

        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-2-desktop"></div>

  </div>
</main>

<div *ngIf="deck">
  <app-share [text]="deck?.title" [colors]="colors"></app-share>
</div>
