@import '~@material/fab/mdc-fab';
@import '~@material/dialog/mdc-dialog';
@import '~@material/button/mdc-button';
@import '~@material/ripple/mdc-ripple';

.mdc-fab {
  color: #000;
  background-color: #FF9800;
}

.app-fab--absolute.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute.app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
