<button #fabEl class="mdc-fab mdc-fab--extended app-fab--absolute"
               aria-label="Invite to speak"
               title="Invite to speak"
               (click)="openDialog($event)">
  <span class="mdc-fab__icon material-icons">mic</span>
  <span class="mdc-fab__label">Invite</span>
</button>

<div #dialogEl id="invite-to-speak-dialog"
       class="mdc-dialog"
       role="alertdialog"
       aria-modal="true"
       aria-labelledby="invite-to-speak-title"
       aria-describedby="invite-to-speak-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <h2 id="invite-to-speak-title" class="mdc-dialog__title">
        Need speakers for your next event?
      </h2>
      <div id="invite-to-speak-content" class="mdc-dialog__content">
        We like visiting new places and meeting new audiences. If you are looking for speakers for your next event, drop us an email.
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">Cancel</button>
        <button type="button" class="mdc-button mdc-button--unelevated mdc-dialog__button" (click)="open('https://goo.gl/forms/cOfJAqVi9v6gbWX43')" data-mdc-dialog-action="yes">Invite</button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
