<button #fabEl class="mdc-fab material-icons app-fab--absolute" aria-label="Invite to speak" title="Invite to speak" (click)="openDialog($event)">
  <span class="mdc-fab__icon">
    mic
  </span>
</button>

<aside #dialogEl id="invite-to-speak-dialog"
  class="mdc-dialog"
  role="alertdialog"
  aria-labelledby="invite-to-speak-label"
  aria-describedby="invite-to-speak-description">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="invite-to-speak-label" class="mdc-dialog__header__title">
        Need speakers for your next event?
      </h2>
    </header>
    <section id="invite-to-speak-description" class="mdc-dialog__body">
      We like visiting new places and meeting new audiences. If you are looking for speakers for your next event, drop us an email.
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" (click)="open('https://goo.gl/forms/cOfJAqVi9v6gbWX43')">Invite</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>
