<button #fab class="mdc-fab app-fab--absolute" aria-label="Invite to speak" title="Invite to speak" (click)="openDialog($event)">
  <span class="mdc-fab__icon">
    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 15c1.66 0 2.99-1.34 2.99-3L15 6c0-1.66-1.34-3-3-3S9 4.34 9 6v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 15 6.7 12H5c0 3.42 2.72 6.23 6 6.72V22h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </span>
</button>

<aside #dialog id="invite-to-speak-dialog"
  class="mdc-dialog"
  role="alertdialog"
  aria-labelledby="invite-to-speak-label"
  aria-describedby="invite-to-speak-description">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="invite-to-speak-label" class="mdc-dialog__header__title">
        Looking for speakers for your next event?
      </h2>
    </header>
    <section id="invite-to-speak-description" class="mdc-dialog__body">
      We like visiting new places and meeting new audiences. If you need speakers for your next event, drop us an email.
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept" (click)="open('https://goo.gl/forms/cOfJAqVi9v6gbWX43')">Invite</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>
