<div class="mdc-card">
  <section class="mdc-card__primary">
    <h2 class="mdc-card__subtitle">{{deck.eventTitle}}</h2>
    <h1 class="mdc-card__title mdc-card__title--large" (click)="goToDeck()">{{deck.title}}</h1>
  </section>
  <section class="mdc-card__supporting-text">
    <app-tags [tags]="deck.tags" [currentTag]="currentTag"></app-tags>
  </section>
  <section class="mdc-card__supporting-text">
    {{deck.description}}
  </section>
  <!-- <section class="mdc-card__media"
           [offset]="offset"
           [defaultImage]="defaultImage"
           [lazyLoad]="mapUrl"
           [ngStyle]="imageLoaded ? coverStyle : {}">
  </section> -->
  <section class="mdc-card__media"
           [style.backgroundImage]="'url(' + mapUrl + ')'"
           [ngStyle]="imageLoaded ? coverStyle : {}">
  </section>
  <section #actions class="mdc-card__actions">
    <app-card-action [text]="'Details'"
                     [url]="url"
                     [blank]="false">
    </app-card-action>
  </section>
</div>
