<div class="mdc-card">
  <section class="mdc-card__primary">
    <h2 class="mdc-card__subtitle">{{deck.eventTitle}}</h2>
    <h1 class="mdc-card__title mdc-card__title--large">{{deck.title}}</h1>
  </section>
  <section class="mdc-card__supporting-text">
    <app-tags [tags]="deck.tags" [currentTag]="currentTag"></app-tags>
  </section>
  <section class="mdc-card__supporting-text">
    {{deck.description}}
  </section>
  <section class="mdc-card__media"
           [offset]="offset"
           [defaultImage]="defaultImage"
           [lazyLoad]="mapUrl()"
           [ngStyle]="currentStyles"
           (onLoad)="setCurrentStyles()"></section>
  <section class="mdc-card__actions">
    <button class="mdc-button mdc-button--compact mdc-card__action" (click)="open(deck.url)">SLIDES</button>
    <button class="mdc-button mdc-button--compact mdc-card__action" (click)="open(deck.eventUrl)">EVENT</button>
    <button *ngIf="deck.videoUrl" class="mdc-button mdc-button--compact mdc-card__action" (click)="open(deck.videoUrl)">VIDEO</button>
    <button *ngIf="deck.reviewsUrl" class="mdc-button mdc-button--compact mdc-card__action" (click)="open(deck.reviewsUrl)">REVIEWS</button>
  </section>
</div>
