$mdc-theme-primary: rgba(0, 0, 0, 87%);
$mdc-theme-primary: #E65100;
$mdc-theme-secondary: #E91E63;
$mdc-theme-background: #FAFAFA;

@import "~@material/theme/mdc-theme";
@import '~@material/typography/dist/mdc.typography.css';
