$mdc-theme-primary: #0D47A1;
$mdc-theme-secondary: #E65100;
$mdc-theme-background: #fff;

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@material/theme/mdc-theme';
@import '~@material/typography/mdc-typography';

@import './app/card/card';

// Make the details page cards display in front of header color on Safari
app-root {
  position: absolute;

  app-deck-details {
    position: relative;
  }
}
