<main class='mdc-layout-grid'>
  <div class="mdc-layout-grid__inner">
    <div #detailsEl class="deck-details mdc-elevation--z2 mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-layout-grid__inner">
        <section class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <i (click)="goBack()" class="back material-icons">arrow_back</i>
        </section>
        <div *ngIf="deck" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <section>
            <h1 class="mdc-typography--headline">{{deck.title}}</h1>
          </section>
          <section>
            <h3 class="mdc-typography--subheading2">{{deck.eventTitle}} - {{deck.date}}</h3>
          </section>
          <section class="mdc-typography--body1">
            {{deck.description}}
          </section>
          <section>
            <app-tags [tags]="deck.tags"></app-tags>
          </section>
          <section>
            <h3 class="mdc-typography--subheading2"><i class="material-icons">place</i> {{deck.location}}</h3>
          </section>
          <div class="map"
               [defaultImage]="defaultImage"
               [lazyLoad]="mapUrl">
          </div>
          <section class="speakers">
            <h3 class="mdc-typography--subheading2"><i class="material-icons">people</i> Speakers</h3>
            <ul class="mdc-list mdc-list--avatar-list">
              <li class="mdc-list-item" (click)="open('https://twitter.com/pblatteier')">
                <span class="mdc-list-item__start-detail grey-bg">
                  <img class="mdc-list-item__start-detail" src="/assets/img/pearl-latteier.jpg" width="56" height="56" alt="Pearl Latteier">
                </span>
                <span class="mdc-list-item__text">
                  Pearl Latteier
                  <span class="mdc-list-item__text__secondary">@pblatteier</span>
                </span>
              </li>
              <li class="mdc-list-item" (click)="open('https://twitter.com/abraham')">
                <span class="mdc-list-item__start-detail grey-bg">
                  <img class="mdc-list-item__start-detail grey-bg" src="/assets/img/abraham-williams.jpg" width="56" height="56" alt="Abraham Williams">
                </span>
                <span class="mdc-list-item__text">
                  Abraham Williams
                  <span class="mdc-list-item__text__secondary">@abraham</span>
                </span>
              </li>
            </ul>
          </section>
          <section>
            <h3 class="mdc-typography--subheading2"><i class="material-icons">link</i> Links</h3>
            <nav>
              <app-card-action *ngFor="let link of deck.links"
                               [text]="link.title"
                               [url]="link.url"
                               [blank]="true">
              </app-card-action>
            </nav>
          </section>
        </div>
      </div>
    </div>

    <ng-template ngFor let-embed [ngForOf]="embeds">
      <div class="deck-details mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="mdc-layout-grid__inner">
          <app-embed [width]="embedWidth" [link]="embed"></app-embed>
        </div>
      </div>
    </ng-template>
  </div>
</main>

<div *ngIf="deck">
  <app-share [text]="deck.title"></app-share>
</div>
