<header #toolbarFixedEl class="mdc-toolbar
               mdc-toolbar--fixed
               mdc-toolbar--waterfall">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
    </section>
  </div>
</header>

<main class='mdc-layout-grid'>
  <div class="mdc-layout-grid__inner">
    <div class="deck-details mdc-elevation--z2 mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-layout-grid__inner">
        <section class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <svg (click)="goBack()" class='back' fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
          </svg>
        </section>
        <div *ngIf="deck" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <section>
            <h1 class="">{{deck.title}}</h1>
          </section>
          <section>
            {{deck.eventTitle}} in {{deck.location}} on {{deck.date}}
          </section>
          <section>
            {{deck.description}}
          </section>
          <section>
            <app-tags [tags]="deck.tags"></app-tags>
          </section>
          <div class="map"
               [defaultImage]="defaultImage"
               [lazyLoad]="mapUrl()">
          </div>
          <section class="speakers">
            <ul class="mdc-list mdc-list--avatar-list">
              <li class="mdc-list-item" (click)="open('https://twitter.com/pblatteier')">
                <span class="mdc-list-item__start-detail grey-bg">
                  <img class="mdc-list-item__start-detail" src="/assets/img/pearl-latteier.jpg" width="56" height="56" alt="Pearl Latteier">
                </span>
                <span class="mdc-list-item__text">
                  Pearl Latteier
                  <span class="mdc-list-item__text__secondary">@pblatteier</span>
                </span>
              </li>
              <li class="mdc-list-item" (click)="open('https://twitter.com/abraham')">
                <span class="mdc-list-item__start-detail grey-bg">
                  <img class="mdc-list-item__start-detail grey-bg" src="/assets/img/abraham-williams.jpg" width="56" height="56" alt="Abraham Williams">
                </span>
                <span class="mdc-list-item__text">
                  Abraham Williams
                  <span class="mdc-list-item__text__secondary">@abraham</span>
                </span>
              </li>
            </ul>
          </section>
          <section>
            <nav>
              <app-card-action *ngFor="let link of deck.links"
                               [text]="link.title"
                               [url]="link.url">
              </app-card-action>
            </nav>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>
