<main class='mdc-layout-grid'>
  <div class="mdc-layout-grid__inner">
    <app-tags [tags]="tags.sort()" [currentTag]="currentTag" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"></app-tags>
    <app-about *ngIf="!currentTag" class="mdc-layout-grid__cell"></app-about>
    <app-deck *ngFor="let deck of decks"
              [deck]="deck"
              [currentTag]="currentTag"
              class="mdc-layout-grid__cell"></app-deck>
    <div *ngIf="!hasDecks" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-typography--body2 decks-empty">Nothing found for {{currentTag}}</div>
  </div>
</main>

<app-invite></app-invite>
