<main class='mdc-layout-grid'>
  <div class="mdc-layout-grid__inner">
    <app-tags [tags]="tags" [currentTag]="currentTag" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"></app-tags>
    <div *ngIf="!hasDecks()" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-typography--body2 decks-empty">Nothing found for {{currentTag}}</div>
    <app-deck *ngFor="let deck of decks" [deck]="deck" [currentTag]="currentTag" class="mdc-layout-grid__cell"></app-deck>
  </div>
</main>
