// Not implemented yet
// $mdc-layout-grid-max-width: 1600px;

@import '~@material/layout-grid/dist/mdc.layout-grid.css';

app-header {
  margin-bottom: 16px;
}

main {
  padding-top: 8px;
  max-width: 1600px;
}

.main {
  transition-duration: 400ms;
  transition-property: position, top;
  position: absolute;
  top: 100vh;
}

.main.transitioned {
  top: 0;
  position: relative;
}

.decks-empty {
  margin: 0 auto;
}

.hidden {
  display: none;
}
