name: Lint
on: push
jobs:
  lint:
    runs-on: ubuntu-22.04 # https://github.com/puppeteer/puppeteer/issues/12818
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: npm run lint
