name: Test
on: push
env:
  FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
jobs:
  build:
    runs-on: ubuntu-22.04 # https://github.com/puppeteer/puppeteer/issues/12818
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist

  features:
    needs: build
    runs-on: ubuntu-22.04 # https://github.com/puppeteer/puppeteer/issues/12818
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: npx firebase use slides-today
      - run: npm run test:features

  lighthouse:
    needs: build
    runs-on: ubuntu-22.04 # https://github.com/puppeteer/puppeteer/issues/12818
    env:
      LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: npx firebase use slides-today
      - uses: treosh/lighthouse-ci-action@v12
        with:
          temporaryPublicStorage: true

  bundlesize:
    needs: build
    runs-on: ubuntu-22.04 # https://github.com/puppeteer/puppeteer/issues/12818
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: npm run bundlesize
